In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import seaborn as sns
from yahoofinancials import YahooFinancials
from matplotlib import pyplot as plt

In [2]:
symbol_list = ['BDL',
 'GLAND',
 'RELIANCE',
 'NTPC',
 'ONGC',
 'BHEL',
 'JINDALSTEL',
 'VOLTAS',
 'POWERGRID',
 'IOC']

In [3]:
start_date = "2021-04-01"
end_date = "2024-05-01"

In [4]:
data =[]
asset = []

In [5]:
for i in symbol_list:
    stock = pd.read_csv(f'{i}.csv', usecols=['Date','Close','Adj Close','Volume'])
    stock.set_index('Date', inplace=True)
    # Rename columns to include the stock symbol
    stock.columns = pd.MultiIndex.from_product([[i], stock.columns])
    #stock['Symbol'] = i
    data.append(stock)

In [6]:
type(data)

list

In [7]:
combined_df = pd.concat(data,axis=1)
# Reset index to ensure the 'Date' column is not part of the index
#combined_df.reset_index(inplace=True)

In [8]:
combined_df

                    BDL                              GLAND               \
                  Close    Adj Close   Volume        Close    Adj Close
Date
2021-04-01   168.975006   163.187836   175404  2467.899902  2467.899902
2021-04-05   169.550003   163.743134   256382  2501.500000  2501.500000
2021-04-06   168.324997   162.560074   183628  2478.199951  2478.199951
2021-04-07   171.175003   165.312485   209124  2504.100098  2504.100098
2021-04-08   171.024994   165.167618   157140  2510.750000  2510.750000
...                 ...          ...      ...          ...          ...
2024-04-24  1023.224976  1023.224976  9780408  1756.699951  1756.699951
2024-04-25  1030.074951  1030.074951  3723820  1738.599976  1738.599976
2024-04-26  1009.000000  1009.000000  1799710  1728.349976  1728.349976
2024-04-29   986.549988   986.549988  1380416  1729.250000  1729.250000
2024-04-30   988.775024   988.775024  1795538  1711.199951  1711.199951

                       RELIANCE                               NTPC  ...  \
            Volume        Close    Adj Close    Volume       Close  ...
Date                                                                ...
2021-04-01  168497  1866.166870  1847.110718   5861656  107.900002  ...
2021-04-05  135477  1839.169189  1820.388794   7437549  106.300003  ...
2021-04-06   62286  1831.508301  1812.806152   7004597  106.050003  ...
2021-04-07  127266  1848.629883  1829.752930  12133176  105.449997  ...
2021-04-08   71530  1850.937378  1832.036865   7684594  105.000000  ...
...            ...          ...          ...       ...         ...  ...
2024-04-24   89617  2900.350098  2900.350098   5231388  351.649994  ...
2024-04-25   74251  2919.949951  2919.949951   7971963  359.200012  ...
2024-04-26  166537  2905.100098  2905.100098   4706924  356.000000  ...
2024-04-29  219405  2930.050049  2930.050049   3623987  363.000000  ...
2024-04-30  109691  2934.000000  2934.000000   5737131  363.200012  ...

           JINDALSTEL       VOLTAS                         POWERGRID  \
               Volume        Close    Adj Close   Volume       Close
Date
2021-04-01   14147031  1005.950012   990.101990   803202  123.018784
2021-04-05   11514234   976.700012   961.312805  1567700  120.459404
2021-04-06   16986573   974.750000   959.393494  1757333  117.675026
2021-04-07   10294775   999.549988   983.802856  3176468  118.434402
2021-04-08   27365406  1004.250000   988.428772  1155524  117.562531
...               ...          ...          ...      ...         ...
2024-04-24    3633914  1414.150024  1414.150024  2738926  290.399994
2024-04-25    2839898  1427.400024  1427.400024  1976954  293.299988
2024-04-26    1823107  1454.750000  1454.750000  1633241  292.250000
2024-04-29    1286958  1467.650024  1467.650024  1670290  293.700012
2024-04-30    1917697  1474.750000  1474.750000  1931803  301.850006

                                         IOC
             Adj Close    Volume       Close   Adj Close    Volume
Date
2021-04-01  103.640961  11229344   62.099998   50.907909  22265911
2021-04-05  101.484726  14484908   60.500000   49.596272  25774072
2021-04-06   99.138939  25301732   60.766666   49.814880  16560441
2021-04-07   99.778709  22841720   61.799999   50.661972  20614233
2021-04-08   99.044167  20468881   61.966667   50.798607  19175106
...                ...       ...         ...         ...       ...
2024-04-24  290.399994  19324163  168.750000  168.750000  17496649
2024-04-25  293.299988  22022414  170.199997  170.199997  14757776
2024-04-26  292.250000  15581578  171.550003  171.550003  17306072
2024-04-29  293.700012   9804396  176.750000  176.750000  40527426
2024-04-30  301.850006  33288857  168.850006  168.850006  67530236

[760 rows x 30 columns]

In [9]:
combined_df.columns.names=['Company','Info']
combined_df

Company             BDL                              GLAND               \
Info              Close    Adj Close   Volume        Close    Adj Close
Date
2021-04-01   168.975006   163.187836   175404  2467.899902  2467.899902
2021-04-05   169.550003   163.743134   256382  2501.500000  2501.500000
2021-04-06   168.324997   162.560074   183628  2478.199951  2478.199951
2021-04-07   171.175003   165.312485   209124  2504.100098  2504.100098
2021-04-08   171.024994   165.167618   157140  2510.750000  2510.750000
...                 ...          ...      ...          ...          ...
2024-04-24  1023.224976  1023.224976  9780408  1756.699951  1756.699951
2024-04-25  1030.074951  1030.074951  3723820  1738.599976  1738.599976
2024-04-26  1009.000000  1009.000000  1799710  1728.349976  1728.349976
2024-04-29   986.549988   986.549988  1380416  1729.250000  1729.250000
2024-04-30   988.775024   988.775024  1795538  1711.199951  1711.199951

Company                RELIANCE                               NTPC  ...  \
Info        Volume        Close    Adj Close    Volume       Close  ...
Date                                                                ...
2021-04-01  168497  1866.166870  1847.110718   5861656  107.900002  ...
2021-04-05  135477  1839.169189  1820.388794   7437549  106.300003  ...
2021-04-06   62286  1831.508301  1812.806152   7004597  106.050003  ...
2021-04-07  127266  1848.629883  1829.752930  12133176  105.449997  ...
2021-04-08   71530  1850.937378  1832.036865   7684594  105.000000  ...
...            ...          ...          ...       ...         ...  ...
2024-04-24   89617  2900.350098  2900.350098   5231388  351.649994  ...
2024-04-25   74251  2919.949951  2919.949951   7971963  359.200012  ...
2024-04-26  166537  2905.100098  2905.100098   4706924  356.000000  ...
2024-04-29  219405  2930.050049  2930.050049   3623987  363.000000  ...
2024-04-30  109691  2934.000000  2934.000000   5737131  363.200012  ...

Company    JINDALSTEL       VOLTAS                         POWERGRID  \
Info           Volume        Close    Adj Close   Volume       Close
Date
2021-04-01   14147031  1005.950012   990.101990   803202  123.018784
2021-04-05   11514234   976.700012   961.312805  1567700  120.459404
2021-04-06   16986573   974.750000   959.393494  1757333  117.675026
2021-04-07   10294775   999.549988   983.802856  3176468  118.434402
2021-04-08   27365406  1004.250000   988.428772  1155524  117.562531
...               ...          ...          ...      ...         ...
2024-04-24    3633914  1414.150024  1414.150024  2738926  290.399994
2024-04-25    2839898  1427.400024  1427.400024  1976954  293.299988
2024-04-26    1823107  1454.750000  1454.750000  1633241  292.250000
2024-04-29    1286958  1467.650024  1467.650024  1670290  293.700012
2024-04-30    1917697  1474.750000  1474.750000  1931803  301.850006

Company                                  IOC
Info         Adj Close    Volume       Close   Adj Close    Volume
Date
2021-04-01  103.640961  11229344   62.099998   50.907909  22265911
2021-04-05  101.484726  14484908   60.500000   49.596272  25774072
2021-04-06   99.138939  25301732   60.766666   49.814880  16560441
2021-04-07   99.778709  22841720   61.799999   50.661972  20614233
2021-04-08   99.044167  20468881   61.966667   50.798607  19175106
...                ...       ...         ...         ...       ...
2024-04-24  290.399994  19324163  168.750000  168.750000  17496649
2024-04-25  293.299988  22022414  170.199997  170.199997  14757776
2024-04-26  292.250000  15581578  171.550003  171.550003  17306072
2024-04-29  293.700012   9804396  176.750000  176.750000  40527426
2024-04-30  301.850006  33288857  168.850006  168.850006  67530236

[760 rows x 30 columns]

In [10]:
returns = pd.DataFrame()
for stock in symbol_list:
    returns[stock+' Returns'] = combined_df[stock]['Adj Close'].pct_change()

In [11]:
returns.head()
#calculation of daily returns. 
#The daily percent changes is calculated using the 
#.pct_change(method) in a separate dataframe “returns”.

,BDL Returns,GLAND Returns,RELIANCE Returns,NTPC Returns,ONGC Returns,BHEL Returns,JINDALSTEL Returns,VOLTAS Returns,POWERGRID Returns,IOC Returns
Date,,,,,,,,,,
2021-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-05,0.003403,0.013615,-0.014467,-0.014828,-0.008625,-0.038273,0.032219,-0.029077,-0.020805,-0.025765
2021-04-06,-0.007225,-0.009314,-0.004165,-0.002352,0.004833,0.007143,0.015672,-0.001997,-0.023115,0.004408
2021-04-07,0.016932,0.010451,0.009348,-0.005658,0.006734,0.013171,-0.000129,0.025442,0.006453,0.017005
2021-04-08,-0.000876,0.002656,0.001248,-0.004267,-0.010034,0.032000,0.069059,0.004702,-0.007362,0.002697

In [12]:
(returns.mean())*250

BDL Returns           0.682660
GLAND Returns        -0.036382
RELIANCE Returns      0.178273
NTPC Returns          0.483667
ONGC Returns          0.445927
BHEL Returns          0.668026
JINDALSTEL Returns    0.382911
VOLTAS Returns        0.170423
POWERGRID Returns     0.384292
IOC Returns           0.431014
dtype: float64

In [13]:
returns.cov()*250

,BDL Returns,GLAND Returns,RELIANCE Returns,NTPC Returns,ONGC Returns,BHEL Returns,JINDALSTEL Returns,VOLTAS Returns,POWERGRID Returns,IOC Returns
BDL Returns,0.180075,0.013856,0.016718,0.030364,0.024024,0.062041,0.038469,0.023888,0.017646,0.028632
GLAND Returns,0.013856,0.168231,0.007930,0.005713,0.007121,0.019510,0.020489,0.014813,0.004069,0.010926
RELIANCE Returns,0.016718,0.007930,0.051815,0.015495,0.022537,0.028619,0.027532,0.022076,0.011721,0.018482
NTPC Returns,0.030364,0.005713,0.015495,0.061845,0.033109,0.047860,0.030979,0.015010,0.034239,0.028191
ONGC Returns,0.024024,0.007121,0.022537,0.033109,0.097822,0.037298,0.041344,0.016468,0.020474,0.033453
BHEL Returns,0.062041,0.019510,0.028619,0.047860,0.037298,0.202911,0.078278,0.043464,0.035112,0.053442
JINDALSTEL Returns,0.038469,0.020489,0.027532,0.030979,0.041344,0.078278,0.151914,0.030626,0.023527,0.030420
VOLTAS Returns,0.023888,0.014813,0.022076,0.015010,0.016468,0.043464,0.030626,0.078419,0.012182,0.021230
POWERGRID Returns,0.017646,0.004069,0.011721,0.034239,0.020474,0.035112,0.023527,0.012182,0.064008,0.023187
IOC Returns,0.028632,0.010926,0.018482,0.028191,0.033453,0.053442,0.030420,0.021230,0.023187,0.071817

#single run
np.random.seed(101)
weights = np.array(np.random.random(21))
print('Random weights')
print(weights)
print('Rebalanced weights')
weights = weights/np.sum(weights)
print('Portfolio return')
port_ret = np.sum(returns.mean()*250*weights)
print(port_ret)
print('Expected volatility')
port_vol = np.sqrt(np.dot(weights.T, np.dot(returns.cov()*250,weights)))
print(port_vol)
print('Sharpe Ratio')
SR = (port_ret - 0.075)/port_vol
print(SR)

In [14]:
sim = 5000
all_weights = np.zeros((sim, len(symbol_list)))
ret_arr = np.zeros(sim)
vol_arr = np.zeros(sim)
sharpe_arr = np.zeros(sim)

for i in range(sim):
    weights = np.array(np.random.random(10))
    weights = weights/np.sum(weights)
    all_weights[i,:] = weights
    ret_arr[i] = np.sum(returns.mean()*250*weights)
    vol_arr[i] = np.sqrt(np.dot(weights.T,np.dot(returns.cov()*250,weights)))
    sharpe_arr[i] = (ret_arr[i] - 0.075)/vol_arr[i]

In [15]:
sharpe_arr.max()

1.97368858137495

In [16]:
sharpe_arr.argmax()

1873

In [17]:
weights = all_weights[1873,:]

In [18]:
df = pd.DataFrame({
    'Symbol': symbol_list,
    'Weight': weights
})

# Sort the DataFrame by the weight values
df_sorted = df.sort_values(by='Weight', ascending=False)

# Display the sorted DataFrame
print(df_sorted)

       Symbol    Weight
9         IOC  0.209647
3        NTPC  0.205159
0         BDL  0.199952
4        ONGC  0.153618
5        BHEL  0.110070
2    RELIANCE  0.037544
6  JINDALSTEL  0.033662
7      VOLTAS  0.021458
1       GLAND  0.017627
8   POWERGRID  0.011262

In [19]:
stocks = df_sorted['Symbol'].tolist()
stocks.remove('GLAND')
print(stocks)

['IOC', 'NTPC', 'BDL', 'ONGC', 'BHEL', 'RELIANCE', 'JINDALSTEL', 'VOLTAS', 'POWERGRID']

In [65]:
v = yf.download("GLAND.NS", start="2021-11-17", end='2021-11-18')
v

[*********************100%%**********************]  1 of 1 completed

                   Open         High     Low        Close    Adj Close  Volume
Date
2021-11-17  3502.399902  3544.949951  3476.0  3491.199951  3491.199951   57343

In [20]:
prices = []
start_date = '2020-04-01'
for symbol in stocks:
        # Fetch historical data from Yahoo Finance
        if symbol != 'GLAND':
            data = yf.download(symbol+".NS", start="2020-04-01", end='2020-04-02')
            price_april2020 = data.loc[start_date]['Adj Close']
            prices.append(price_april2020)
df_prices = pd.DataFrame({'Symbol': stocks, 'Price_April2020': prices})

# Display the prices
print(df_prices)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

       Symbol  Price_April2020
0         IOC        37.269249
1        NTPC        63.053024
2         BDL        86.610512
3        ONGC        52.517639
4        BHEL        20.486383
5    RELIANCE       973.840149
6  JINDALSTEL        69.553703
7      VOLTAS       459.112823
8   POWERGRID        68.530640

In [21]:
df_prices

       Symbol  Price_April2020
0         IOC        37.269249
1        NTPC        63.053024
2         BDL        86.610512
3        ONGC        52.517639
4        BHEL        20.486383
5    RELIANCE       973.840149
6  JINDALSTEL        69.553703
7      VOLTAS       459.112823
8   POWERGRID        68.530640

In [23]:
prices=[]

In [24]:
start_date = '2024-05-02'
for symbol in stocks:
        # Fetch historical data from Yahoo Finance
        data = yf.download(symbol+".NS", start="2024-05-02", end='2024-05-03')
        price_2024 = data.loc[start_date]['Adj Close']
        prices.append(price_2024)
df_prices2 = pd.DataFrame({'Symbol': stocks, 'Price_2024': prices})

# Display the prices
print(df_prices2)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

       Symbol   Price_2024
0         IOC   166.441727
1        NTPC   369.049988
2         BDL   983.625000
3        ONGC   282.799988
4        BHEL   292.700012
5    RELIANCE  2933.100098
6  JINDALSTEL   941.849976
7      VOLTAS  1476.561401
8   POWERGRID   313.600006

In [25]:
combined_df = pd.merge(df_prices, df_prices2, on='Symbol')

In [26]:
combined_df = pd.merge(df_sorted, combined_df, on='Symbol')

In [27]:
combined_df

       Symbol    Weight  Price_April2020   Price_2024
0         IOC  0.209647        37.269249   166.441727
1        NTPC  0.205159        63.053024   369.049988
2         BDL  0.199952        86.610512   983.625000
3        ONGC  0.153618        52.517639   282.799988
4        BHEL  0.110070        20.486383   292.700012
5    RELIANCE  0.037544       973.840149  2933.100098
6  JINDALSTEL  0.033662        69.553703   941.849976
7      VOLTAS  0.021458       459.112823  1476.561401
8   POWERGRID  0.011262        68.530640   313.600006

In [28]:
portfolio_value = 10000000
combined_df['Investment'] = combined_df['Weight'] * portfolio_value
combined_df['Shares'] = (combined_df['Investment'] / combined_df['Price_April2020']).astype(int)

# Calculate the value of each stock on 1st June 2024
combined_df['Value_2024'] = combined_df['Shares'] * combined_df['Price_2024']

# Calculate total investment used and remaining cash
total_investment_used = (combined_df['Shares'] * combined_df['Price_April2020']).sum()
remaining_cash = portfolio_value - total_investment_used

# Calculate total portfolio value in June 2024 and profit/loss
total_value_2024 = combined_df['Value_2024'].sum()
profit_loss = total_value_2024 - total_investment_used

In [29]:
combined_df

,Symbol,Weight,Price_April2020,Price_2024,Investment,Shares,Value_2024
0,IOC,0.209647,37.269249,166.441727,2.096470e+06,56251,9.362514e+06
1,NTPC,0.205159,63.053024,369.049988,2.051590e+06,32537,1.200778e+07
2,BDL,0.199952,86.610512,983.625000,1.999519e+06,23086,2.270797e+07
3,ONGC,0.153618,52.517639,282.799988,1.536180e+06,29250,8.271900e+06
4,BHEL,0.110070,20.486383,292.700012,1.100702e+06,53728,1.572619e+07
5,RELIANCE,0.037544,973.840149,2933.100098,3.754407e+05,385,1.129244e+06
6,JINDALSTEL,0.033662,69.553703,941.849976,3.366218e+05,4839,4.557612e+06
7,VOLTAS,0.021458,459.112823,1476.561401,2.145842e+05,467,6.895542e+05
8,POWERGRID,0.011262,68.530640,313.600006,1.126248e+05,1643,5.152448e+05

In [30]:
# Display the final DataFrame and summary
print(combined_df)
print("\nSummary:")
print(f"Total Investment Used: Rs.{total_investment_used:.2f}")
print(f"Remaining Cash: Rs.{remaining_cash:.2f}")
print(f"Total Portfolio Value in June 2024: Rs.{total_value_2024:.2f}")
print(f"Total Profit: Rs.{profit_loss:.2f}")
print(f"Total Profit %: {profit_loss/total_investment_used*100:.2f}")

       Symbol    Weight  Price_April2020   Price_2024    Investment  Shares  \
0         IOC  0.209647        37.269249   166.441727  2.096470e+06   56251
1        NTPC  0.205159        63.053024   369.049988  2.051590e+06   32537
2         BDL  0.199952        86.610512   983.625000  1.999519e+06   23086
3        ONGC  0.153618        52.517639   282.799988  1.536180e+06   29250
4        BHEL  0.110070        20.486383   292.700012  1.100702e+06   53728
5    RELIANCE  0.037544       973.840149  2933.100098  3.754407e+05     385
6  JINDALSTEL  0.033662        69.553703   941.849976  3.366218e+05    4839
7      VOLTAS  0.021458       459.112823  1476.561401  2.145842e+05     467
8   POWERGRID  0.011262        68.530640   313.600006  1.126248e+05    1643

     Value_2024
0  9.362514e+06
1  1.200778e+07
2  2.270797e+07
3  8.271900e+06
4  1.572619e+07
5  1.129244e+06
6  4.557612e+06
7  6.895542e+05
8  5.152448e+05

Summary:
Total Investment Used: Rs.9822812.76
Remaining Cash: Rs.177187.24
Total Portfolio Value in June 2024: Rs.74968000.22
Total Profit: Rs.65145187.46
Total Profit %: 663.20

In [31]:
stocks = df_sorted['Symbol'].tolist()

In [33]:
prices = []
start_date = '2024-05-02'
for symbol in stocks:
        # Fetch historical data from Yahoo Finance
        data = yf.download(symbol+".NS", start="2024-05-02", end='2024-05-03')
        price_2024 = data.loc[start_date]['Adj Close']
        prices.append(price_2024)
df_prices2 = pd.DataFrame({'Symbol': stocks, 'Price_May2024': prices})

# Display the prices
print(df_prices2)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

       Symbol  Price_May2024
0         IOC     166.441727
1        NTPC     369.049988
2         BDL     983.625000
3        ONGC     282.799988
4        BHEL     292.700012
5    RELIANCE    2933.100098
6  JINDALSTEL     941.849976
7      VOLTAS    1476.561401
8       GLAND    1722.300049
9   POWERGRID     313.600006

In [35]:
prices = []
start_date = '2024-06-03'
for symbol in stocks:
        # Fetch historical data from Yahoo Finance
        data = yf.download(symbol+".NS", start="2024-06-03", end='2024-06-04')
        price_2024 = data.loc[start_date]['Adj Close']
        prices.append(price_2024)
df_prices3 = pd.DataFrame({'Symbol': stocks, 'Price_2024': prices})

# Display the prices
print(df_prices3)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

       Symbol   Price_2024
0         IOC   168.265488
1        NTPC   391.799988
2         BDL  1596.500000
3        ONGC   284.100006
4        BHEL   311.450012
5    RELIANCE  3020.649902
6  JINDALSTEL  1057.449951
7      VOLTAS  1401.186523
8       GLAND  1850.349976
9   POWERGRID   337.649994

In [36]:
combined_df = pd.merge(df_prices2, df_prices3, on='Symbol')

In [37]:
combined_df = pd.merge(df_sorted, combined_df, on='Symbol')

In [38]:
combined_df

       Symbol    Weight  Price_May2024   Price_2024
0         IOC  0.209647     166.441727   168.265488
1        NTPC  0.205159     369.049988   391.799988
2         BDL  0.199952     983.625000  1596.500000
3        ONGC  0.153618     282.799988   284.100006
4        BHEL  0.110070     292.700012   311.450012
5    RELIANCE  0.037544    2933.100098  3020.649902
6  JINDALSTEL  0.033662     941.849976  1057.449951
7      VOLTAS  0.021458    1476.561401  1401.186523
8       GLAND  0.017627    1722.300049  1850.349976
9   POWERGRID  0.011262     313.600006   337.649994

In [39]:
portfolio_value = 10000000
combined_df['Investment'] = combined_df['Weight'] * portfolio_value
combined_df['Shares'] = (combined_df['Investment'] / combined_df['Price_May2024']).astype(int)

# Calculate the value of each stock on 3rd June 2024
combined_df['Value_2024'] = combined_df['Shares'] * combined_df['Price_2024']

# Calculate total investment used and remaining cash
total_investment_used = (combined_df['Shares'] * combined_df['Price_May2024']).sum()
remaining_cash = portfolio_value - total_investment_used

# Calculate total portfolio value in June 2024 and profit/loss
total_value_2024 = combined_df['Value_2024'].sum()
profit_loss = total_value_2024 - total_investment_used
profit_percent = profit_loss / total_investment_used * 100

In [40]:
# Display the final DataFrame and summary
print(combined_df)
print("\nSummary:")
print(f"Total Investment Used: Rs.{total_investment_used:.2f}")
print(f"Remaining Cash: Rs.{remaining_cash:.2f}")
print(f"Total Portfolio Value in June 2024: Rs.{total_value_2024:.2f}")
print(f"Total Profit: Rs.{profit_loss:.2f}")
print(f"Total Profit %: {profit_loss/total_investment_used*100:.2f}")

       Symbol    Weight  Price_May2024   Price_2024    Investment  Shares  \
0         IOC  0.209647     166.441727   168.265488  2.096470e+06   12595
1        NTPC  0.205159     369.049988   391.799988  2.051590e+06    5559
2         BDL  0.199952     983.625000  1596.500000  1.999519e+06    2032
3        ONGC  0.153618     282.799988   284.100006  1.536180e+06    5432
4        BHEL  0.110070     292.700012   311.450012  1.100702e+06    3760
5    RELIANCE  0.037544    2933.100098  3020.649902  3.754407e+05     128
6  JINDALSTEL  0.033662     941.849976  1057.449951  3.366218e+05     357
7      VOLTAS  0.021458    1476.561401  1401.186523  2.145842e+05     145
8       GLAND  0.017627    1722.300049  1850.349976  1.762690e+05     102
9   POWERGRID  0.011262     313.600006   337.649994  1.126248e+05     359

     Value_2024
0  2.119304e+06
1  2.178016e+06
2  3.244088e+06
3  1.543231e+06
4  1.171052e+06
5  3.866432e+05
6  3.775096e+05
7  2.031720e+05
8  1.887357e+05
9  1.212163e+05

Summary:
Total Investment Used: Rs.9997365.67
Remaining Cash: Rs.2634.33
Total Portfolio Value in June 2024: Rs.11532968.14
Total Profit: Rs.1535602.47
Total Profit %: 15.36