In [3]:
import numpy as np
import pandas as pd

In [1]:
!pip install nselib

Collecting nselib
  Downloading nselib-0.7-py3-none-any.whl (18 kB)
Requirement already satisfied: requests in c:\users\diya\anaconda3\lib\site-packages (from nselib) (2.32.3)
Requirement already satisfied: pandas in c:\users\diya\anaconda3\lib\site-packages (from nselib) (2.0.3)
Collecting scipy
  Downloading scipy-1.13.1-cp310-cp310-win_amd64.whl (46.2 MB)
     ---------------------------------------- 46.2/46.2 MB 1.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diya\anaconda3\lib\site-packages (from pandas->nselib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\diya\anaconda3\lib\site-packages (from pandas->nselib) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\diya\anaconda3\lib\site-packages (from pandas->nselib) (1.25.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\diya\anaconda3\lib\site-packages (from pandas->nselib) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\diya\anaconda3\lib\site-packages (from requests->nselib) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\diya\anaconda3\lib\site-packages (from requests->nselib) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\diya\anaconda3\lib\site-packages (from requests->nselib) (2023.5.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\diya\anaconda3\lib\site-packages (from requests->nselib) (1.26.16)
Requirement already satisfied: six>=1.5 in c:\users\diya\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->nselib) (1.16.0)
Installing collected packages: scipy, nselib
Successfully installed nselib-0.7 scipy-1.13.1

In [2]:
import nselib
from nselib import capital_market

In [4]:
nselib.trading_holiday_calendar()

,Product,tradingDate,weekDay,description,Sr_no
0,Corporate Bonds,22-Jan-2024,Monday,Special Holiday,1
1,Corporate Bonds,26-Jan-2024,Friday,Republic Day,2
2,Corporate Bonds,19-Feb-2024,Monday,Chatrapati Shivaji Maharaj Jayanti,3
3,Corporate Bonds,08-Mar-2024,Friday,Mahashivratri,4
4,Corporate Bonds,25-Mar-2024,Monday,Holi,5
...,...,...,...,...,...
16,Securities Lending & Borrowing Schemes,12-Oct-2024,Saturday,Dussehra,17
17,Securities Lending & Borrowing Schemes,01-Nov-2024,Friday,Diwali Laxmi Pujan*,18
18,Securities Lending & Borrowing Schemes,02-Nov-2024,Saturday,Diwali-Balipratipada,19
19,Securities Lending & Borrowing Schemes,15-Nov-2024,Friday,Gurunanak Jayanti,20
20,Securities Lending & Borrowing Schemes,25-Dec-2024,Wednesday,Christmas,21

In [5]:
capital_market.bhav_copy_equities("21-06-2023")

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,182D140923,TB,98.20,98.20,98.20,98.20,98.20,98.07,500,4.910000e+04,21-JUN-2023,1
1,182D191023,TB,97.46,97.46,97.46,97.46,97.46,97.44,300,2.923800e+04,21-JUN-2023,1
2,20MICRONS,EQ,99.00,103.60,99.00,101.25,100.90,98.75,356331,3.619026e+07,21-JUN-2023,6138
3,21STCENMGM,EQ,21.65,21.65,21.65,21.65,21.65,21.25,1958,4.239070e+04,21-JUN-2023,14
4,360ONE,EQ,441.70,449.40,438.65,439.95,442.00,441.20,512002,2.255784e+08,21-JUN-2023,5961
...,...,...,...,...,...,...,...,...,...,...,...,...
2429,ZOTA,EQ,386.40,390.75,381.00,388.50,388.50,380.95,98711,3.816371e+07,21-JUN-2023,3440
2430,ZUARI,EQ,149.90,153.95,147.15,147.70,148.20,149.70,145420,2.188822e+07,21-JUN-2023,3288
2431,ZUARIIND,EQ,146.60,152.05,144.00,145.10,145.20,145.20,94152,1.394422e+07,21-JUN-2023,1585
2432,ZYDUSLIFE,EQ,557.40,564.80,552.30,560.10,561.30,556.05,1124378,6.300424e+08,21-JUN-2023,25369
2433,ZYDUSWELL,EQ,1512.00,1525.00,1488.00,1508.85,1515.00,1503.40,46601,7.019993e+07,21-JUN-2023,4919

In [9]:
df = pd.DataFrame()

In [11]:
end_date = "01-01-2021"
start_date = "31-12-23"
date_strings = []
current_date = start_date
while current_date <= end_date:
    date_str = current_date.strftime("%d-%m-%Y")
    date_strings.append(date_str)
    current_date += datetime.timedelta(days=1)
    df.append(capital_market.bhav_copy_equities(current_date))
    
df

Empty DataFrame
Columns: []
Index: []

In [5]:
help(capital_market.bhav_copy_equities)

Help on function bhav_copy_equities in module nselib.capital_market.capital_market_data:

bhav_copy_equities(trade_date: str)
    get nse bhav copy as per the traded date provided
    :param trade_date:
    :return: pandas dataframe

In [8]:
capital_market.bhav_copy_with_delivery("21-06-2024")

,SYMBOL,SERIES,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,PREV_CLOSE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DATE1
0,1018GS2026,GS,115.90,119.51,113.82,117.60,115.90,2632,3.10,6,2632,100.00,21-Jun-2024
1,20MICRONS,EQ,187.00,218.65,183.50,213.77,187.80,2900104,5979.26,50734,955403,32.94,21-Jun-2024
2,21STCENMGM,BE,60.32,60.32,60.32,60.32,59.14,2696,1.63,15,-,-,21-Jun-2024
3,360ONE,EQ,849.60,861.00,831.10,837.60,841.25,520838,4402.92,31071,219449,42.13,21-Jun-2024
4,3IINFOLTD,EQ,37.74,38.50,36.90,37.12,37.55,1559809,589.09,7164,656080,42.06,21-Jun-2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2570,ZTECH,SM,196.70,196.70,187.00,196.70,178.85,1210800,2377.58,599,873600,72.15,21-Jun-2024
2571,ZUARI,EQ,228.50,232.60,208.73,213.93,226.80,922164,2035.82,21297,394260,42.75,21-Jun-2024
2572,ZUARIIND,EQ,364.70,369.95,340.50,346.30,359.45,366604,1302.08,15154,188939,51.54,21-Jun-2024
2573,ZYDUSLIFE,EQ,1095.00,1102.90,1079.00,1085.05,1088.65,932011,10143.54,49467,461074,49.47,21-Jun-2024
2574,ZYDUSWELL,EQ,1899.00,1899.00,1850.00,1856.55,1887.75,13776,256.34,3057,6615,48.02,21-Jun-2024

In [6]:
help(capital_market.bhav_copy_with_delivery)

Help on function bhav_copy_with_delivery in module nselib.capital_market.capital_market_data:

bhav_copy_with_delivery(trade_date: str)
    get the NSE bhav copy with delivery data as per the traded date
    :param trade_date: eg:'01-06-2023'
    :return: pandas data frame

In [10]:
capital_market.block_deals_data(period = "1Y")

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,22-JUN-2023,CRAFTSMAN,Craftsman Automation Ltd,AXIS MUTUAL FUND,BUY,"1,26,260","3,960.00",-
1,22-JUN-2023,CRAFTSMAN,Craftsman Automation Ltd,GOLDMAN SACHS FUNDS-GOLDMAN SACHS ASIA EQUITY ...,BUY,"5,05,050","3,960.00",-
2,22-JUN-2023,CRAFTSMAN,Craftsman Automation Ltd,MANULIFE GLOBAL FUND INDIA EQUITY FUND,BUY,"61,730","3,960.00",-
3,22-JUN-2023,CRAFTSMAN,Craftsman Automation Ltd,SOCIETE GENERALE,BUY,"63,130","3,960.00",-
4,22-JUN-2023,CRAFTSMAN,Craftsman Automation Ltd,SRINIVASAN MURALI,SELL,"8,00,000","3,960.00",-
...,...,...,...,...,...,...,...,...
1522,20-JUN-2024,RATEGAIN,Rategain Travel Techn ltd,MORGAN STANLEY ASIA SINGAPORE PTE.,BUY,"1,34,300",745.00,-
1523,20-JUN-2024,RATEGAIN,Rategain Travel Techn ltd,SOCIETE GENERALE,BUY,"1,34,300",745.00,-
1524,20-JUN-2024,RATEGAIN,Rategain Travel Techn ltd,TATA MUTUAL FUND,BUY,"2,01,342",745.00,-
1525,21-JUN-2024,PEL,Piramal Enterprises Ltd.,ANUTHAM REALTY PRIVATE LIMITED,BUY,"1,08,54,000",899.0,-
1526,21-JUN-2024,PEL,Piramal Enterprises Ltd.,THE SRIKRISHNA TRUST,SELL,"1,08,54,000",899.0,-

In [13]:
capital_market.bulk_deal_data(period = "1Y")

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,22-JUN-2023,ACCURACY,Accuracy Shipping Limited,ANTARA INDIA EVERGREEN FUND LTD,SELL,"11,16,822",10.50,-
1,22-JUN-2023,ADSL,Allied Digital Services L,GRAVITON RESEARCH CAPITAL LLP,BUY,"3,54,369",103.62,-
2,22-JUN-2023,ADSL,Allied Digital Services L,GRAVITON RESEARCH CAPITAL LLP,SELL,"3,54,369",103.67,-
3,22-JUN-2023,AHL,Abans Holdings Limited,SATHISH SRINIVAS NAYAK,BUY,"4,03,695",301.82,-
4,22-JUN-2023,AHL,Abans Holdings Limited,SATHISH SRINIVAS NAYAK,SELL,"4,03,695",302.55,-
...,...,...,...,...,...,...,...,...
25371,21-JUN-2024,ZTECH,Z-Tech (India) Limited,MULTIPLIER SHARE & STOCK ADVISORS PRIVATE LIMITED,BUY,"72,000",196.70,-
25372,21-JUN-2024,ZTECH,Z-Tech (India) Limited,MULTIPLIER SHARE & STOCK ADVISORS PRIVATE LIMITED,SELL,"99,600",196.70,-
25373,21-JUN-2024,ZTECH,Z-Tech (India) Limited,MULTIPLIER SHARE & STOCK ADVISORS PRIVATE LIMITED,SELL,"99,600",196.70,-
25374,21-JUN-2024,ZTECH,Z-Tech (India) Limited,STATSOL RESEARCH LLP,SELL,"78,000",196.70,-
25375,21-JUN-2024,ZTECH,Z-Tech (India) Limited,STATSOL RESEARCH LLP,SELL,"78,000",196.70,-

In [14]:
capital_market.equity_list('NIFTY 200')

TypeError: equity_list() takes 0 positional arguments but 1 was given

In [ ]:
capital_market.fno_equity_list() #futures and options

In [15]:
capital_market.index_data('SBIN', period='1M')

NSEdataNotFound:  Resource not available MSG: "['_id', 'EOD_TIMESTAMP'] not found in axis"

In [ ]:
capital_market.nifty100_equity_list()

In [ ]:
print(2+2)