## 1) Python Tutorial With Google Colab

<p><h2>1.1) Characteristics of Python</h2></p>
<p>Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.
<p>
a) Easy to learn, powerful programming language<br>
b) Efficient high-level data structures <br>
c) Simple but effective approach to object-oriented programming<br>
d) Extensive standard libraries: freely available and open source<br>
e) Easy integration of C and C++ codes
</p>
</p>

<p><h3>1.2) Choosing Suitable Python Version</h3></p>

<p>Two major versions of python are (https://www.python.org/)<br>
a) Python 2.# <br>
b) Python 3.# <br>
</p>

Python has [officially dropped support] (https://www.python.org/doc/sunset-python-2/) for `python 2`. We'll be using `python 3.7` for this iteration of the course.

You can check your Python version at the command line by running `!python --version`. Note that Colab uses `Python 3.7.13` which should run everything without any errors.

<h3>1.3) Popular Python Editors</h3>
<p>
a) Jupyter Notebook (https://jupyter.org/)<br>
b) Google Colab (cloud based online notebook)<br>
c) Spyder (https://spyder-ide.github.io/)<br>
d) PyCharm (https://www.jetbrains.com/pycharm/)
</p>

## 2) Printing and Commenting

In [1]:
print(['Hello', 'World',"IDEAS"], sep=",")
print("IDEAS")

['Hello', 'World', 'IDEAS']
IDEAS

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [ ]:
# print('Hello World 1')

print('Hello World 2')

Hello World 2

## 3) Data types in python
<p>
a) Integers <br>
b) Floats <br>
c) Boolean<br>
d) Complex Numbers<br>
e) Strings
</p>

In [ ]:
# 1. Integers

i = 5
print(i)
print(type(i))

5
<class 'int'>

In [ ]:
# 2. Floats

f = 4.3
print(f)
print(type(f))

4.3
<class 'float'>

In [ ]:
# 3. Complex Numbers

c1 = 2.4 + 3.4j
c2 = complex(2,3)
print(c1)
print(c2)
print(type(c1), type(c2))

print('\n')
print(c1.real)
print(c1.imag)

(2.4+3.4j)
(2+3j)
<class 'complex'> <class 'complex'>


2.4
3.4

In [ ]:
# 4. Boolean

t = True
f = False
# print(t)
# print(f)
print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

In [ ]:
# 5. Strings:

string1 = 'hello'   # String literals can use single quotes
string2 = "world"   # or double quotes; it does not matter
print(string1, len(string1))
print(string2, len(string2))

hello 5
world 5

## 4) Data type conversion

In [ ]:
ip=5.4
# fp=int(ip)
# converting to integers
print(int(ip), type(int(ip)))
# converting to floats
print(float(ip), type(float(ip)))

5 <class 'int'>
5.4 <class 'float'>

In [ ]:
# conversions to strings

i = 10
print(i, type(i))
print(str(i), type(str(i)))

f = 0.5
print(f, type(f))
print(str(f), type(str(f)))

s3 = '100+2j'
print(complex(s3), type(complex(s3)))

10 <class 'int'>
10 <class 'str'>
0.5 <class 'float'>
0.5 <class 'str'>
(100+2j) <class 'complex'>

In [ ]:
# Zero is False, non-zeros values are True

print(bool(0))
print(bool(100))
print(bool(-100))

False
True
True

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another

Hello
HELLO
  hello
 hello
he(ell)(ell)o

You can find a list of all string methods in the (https://docs.python.org/3.7/library/stdtypes.html#string-methods).

<p><h2>5) Operators in python</h2></p>
<p >
a) Arithmetic operators <br>
b) Assignments operators <br>
c) Relational operators <br>
d) Logical operators <br>
e) Bitwise operators <br>
f) Membership operators <br>
g) Identity operators
</p>

## 5.1) Arithmetic operators

In [ ]:
# Arithmetic Operators

n1 = 4.5
n2 = 3

print('Add', n1 + n2)
print('Subtract',n1 - n2)
print('Multiply',n1 * n2)
print('Division',n1 / n2)
print('Remainder (Division)',4 % n2)
print('Floor Division',n1 // n2)

print('\n')
print('Exponentiation',n1 ** 2)
print('Exponentiation',n1 ** 0.5)
print('Exponentiation',n1 ** -2)

Add 7.5
Subtract 1.5
Multiply 13.5
Division 1.5
Remainder (Division) 1
Floor Division 1.0


Exponentiation 20.25
Exponentiation 2.1213203435596424
Exponentiation 0.04938271604938271

## 5.2) Assignment operators

In [ ]:
# Assignment Operators

n3 = 10
n4 = 6

n3, n4 = 10, 6

n3 += n4 # n3 = n3 + n4
print(n3)
n3 -= n4 # n3 = n3 - n4
print(n3)
n3 *= n4 # n3 = n3 * n4
print(n3)
n3 /= n4 # n3 = n3 / n4
print(n3)
n3 %= n4 # n3 = n3 % n4
print(n3)

n3 = 10

n3 //= n4 # n3 = n3 // n4 #Floor division
print(n3)
n3 **= n4 # n3 = n3 ** n4 #Exponentiation
print(n3)

16
10
60
10.0
4.0
1
1

In [ ]:
x=7
# print(x)
print(x++)

SyntaxError: ignored

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

## 5.3) Relational operators

In [ ]:
# Relational Operators

n1 = 10
n2 = 16

print(n1 == n2)
print(n1 != n2)
print(n1 > n2)
print(n1 < n2)
print(n1 >= n2)
print(n1 <= n2)

False
True
False
True
False
True

## 5.4) Logical operators

In [ ]:
# Logical Operators

b1 = True
b2 = False

print(not b1)
print(b1 and b2)
print(b1 or b2)

print(2 or 1)
print(0 or 1)

False
False
True
2
1

In [ ]:
print(0 and 1 and 5)
print(0 and 1 or 0)

0
0

<b>Exercise 1:</b> Take four numbers as input. <br>
Display whether the sum of the first two numbers is greater than or equal to the sum of the latter two numbers

## 5.5) Bitwise operators in Python

In Python, bitwise operators are used to perform bitwise calculations on integers. The integers are first converted into binary and then operations are performed on each bit or corresponding pair of bits, hence the name bitwise operators. The result is then returned in decimal format.

Bitwise AND operator Returns 1 if both the bits are 1 else 0.

**Example:**

a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary)

a & b = 1010
         &
        0100
      = 0000
      = 0 (Decimal)
Bitwise or operator Returns 1 if either of the bit is 1 else 0.

**Example:**

a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary)

a | b = 1010
         |
        0100
      = 1110
      = 14 (Decimal)

In [ ]:
a = 10
b = 4

print("a & b =", a & b)# Print bitwise AND operation

print("a | b =", a | b)# Print bitwise OR operation

print("a ^ b =", a ^ b)# print bitwise XOR operation

a & b = 0
a | b = 14
a ^ b = 14

## 5.5) Membership operators

In [ ]:
# Membership Operators

print('str' in 'string')
print('not' in 'convenient')
print('not' not in 'convenient')

True
False
True

## 6) Conditional statements: if-elif-else

In [ ]:
# General structure

# if condition1:
#     statement(s)

# elif condition2:
#     statement(s)

# elif condition3:
#     statement(s)

# ...

# elif conditionN:
#     statement(s)

# else:
#     statement(s)

In [ ]:
a1 = 5
a2 = 10

if a1 > a2:
    print('a1 is greater')
elif a1 < a2:
    print('a2 is greater')
elif True:
    print('Why not have another elif')
elif False:
    print('Although these elifs make absolutely no sense')
else:
    print('a1 and a2 are equal')

a2 is greater

<b> Exercise 2:</b> Write a program that takes an integer as input, and prints whether the number is odd or even.

## 7) Python Rules
<p>
a) There are no braces {} in Python to demarcate blocks of code<br>
b) indentation (whitespaces) demarcate blocks of code<br>
c) Changes in indentation mark where a block begins, and where it ends<br>
d) A common convention: 4 spaces (or 1 tab, which the editor converts to 4 spaces)<br>
</p>

In [ ]:
a1 = 10
a2 = 20
a3 = 30

if a1 == 10:
    if a2 == 20:
        if a3 == 30:
            print('Yay')
        else:
            print('Nay')
    else:
        print('Nay...')
else:
    print('Nayyyy...')

Yay

## 8) Loops

In [ ]:
# 1. for loops

# General Structure

# for variable in iterator:
#     statement(s)

In [ ]:
# range(t) : goes from 0 to t-1

for i in range(6): # [0, 1, 2, 3, 4, 5]
    print(i)

0
1
2
3
4
5

In [ ]:
# range(start, end)

for i in range(0,5+1):
    print(i)

0
1
2
3
4
5

In [ ]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [ ]:
# range(start, end, steps)
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
# Opposite step direction

for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [ ]:
# Iterate over strings

str1 = 'abcdefg'

for i in str1:
    print(i)

a
b
c
d
e
f
g

In [ ]:
# 2. while loops

# General Structure

# while condition:
#     statement(s)

In [ ]:
i = 0

while i < 10:
    print(i)
    i += 2

0
2
4
6
8

<p><h2>References</h2></p>
<p>
a) Learning Python: Powerful Object-Oriented Programming  by Mark Lutz <br>
b) https://docs.python.org/3/tutorial/  <br>
</p>